@import url(reset.css);
.barra{
    width: 100vw;
}
.barra_conteudo {
    background-color: aqua;
    width: 100vw;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: blue;
    box-shadow: 2px 5px 5px black;
}
.btn {
        background-color: blueviolet;
        cursor: pointer;
}
.login button {
    border-radius: 5px;
}
.barra_info {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}